*{
    padding: 0;
    margin: 0;
  }
  
  
  .dark1 {
    min-height: 100vh;
    background-image: url('../img/backgroundmoon.png');
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .dark2{
    background-color: lightgrey;
    padding: 80px;
    display: flex;
    border-radius: 6%;
    box-shadow: rgb(165, 165, 165) 5px 5px 5px;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;    
    font-style: italic;
    
  }

  .dark2 label{
    text-align: center;
    margin-top: 10px;
  }

  .dark2 input{
    background-color: rgb(30,30,30);
    color: white;
    padding: 2px;
  }

  .dark2 select {
    background-color: rgb(30,30,30);
    color: white;
  }

 h1{
margin-bottom: 50px;

}

.dark2 button{
    background-color: rgb(30,30,30);
    color: white;
    margin-top: 10px;
    padding: 5px;
}

.dark2 textarea{
  background-color: rgb(30,30,30);
  color: white;
}

img {
  width: 30px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

*{
  padding: 0;
  margin: 0;
}


.light1 {
  min-height: 100vh;
  background-color: rgb(245, 255, 159);
  background-image: url('../img/backgroundsun.png');
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.light2{
  background-color: rgb(186, 255, 140);
  padding: 80px;
  display: flex;
  border-radius: 6%;
  box-shadow: rgb(111, 255, 154) 5px 5px 5px;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;    
  font-style: italic;
  
}

.light2 label{
  text-align: center;
  margin-top: 10px;
}

.light2 input{
  background-color:white;
  color: black;
  padding: 2px;
}

.light2 select {
  background-color:white;
  color: black;
}

h1{
margin-bottom: 50px;

}

.light2 button{
  background-color:rgb(43, 119, 50);
  color: black;
  margin-top: 10px;
  padding: 5px;
}

.light2 textarea{
background-color:white;
color: black;
}

img {
width: 30px;
}